<%- include('header', { user: user, url: url }) -%>
<main>
  <% if (user) { %>
  <a href="/newmessage" class="remove-decoration">
    <button class="addBtn">+</button>
  </a>
  <% } %>
  <div>
    <% if (messages) { %>
    <div class="offset-children center">
      <% messages.forEach(item => { %>
      <div class="message-container">
        <div class="message-description">
          <p>Author: <%= item.username %> Status: <%= item.role %></p>
          <p><%= item.date %></p>
        </div>
        <p class="text"><%= item.message %></p>
      </div>
      <% }) %>
    </div>
    <% } %>
  </div>
</main>
<%- include('footer') -%>
