<%- include('header', { user: user, url: url }) -%>
<main>
  <% if (errors) { %>
  <div>
    <% Object.keys(errors).forEach(function(key) { %>
    <div class="flex">
      <p class="error">Please update <%= errors[key].param %>:&nbsp;</p>
      <p><%= errors[key].msg %></p>
    </div>
    <% }); %>
  </div>
  <% } %>
  <div>
    <% if (autherror) { %>
    <p><%= autherror.message %></p>
    <% } %>
  </div>
  <form action="/login" method="POST">
    <label for="username">Email:</label>
    <% if (email) { %>
    <input
      name="username"
      placeholder="email"
      type="text"
      autocomplete="off"
      value="<%= email %>"
    />
    <% } else{ %>
    <input name="username" placeholder="email" type="text" autocomplete="off" />
    <% } %>
    <label for="password">Password:</label>
    <input
      name="password"
      placeholder="password"
      type="password"
      autocomplete="off"
    />
    <button type="submit" class="submitBtn">Log In</button>
  </form>
  <div class="flex">
    <p>Don't have an account?</p>
    <a href="/signup"><p>Sign up</p></a>
  </div>
</main>
<%- include('footer') -%>
