<%- include('header', { user: user }) -%>
<main>
  <% if (errors) { %>
  <div>
    <% Object.keys(errors).forEach(function(key) { %>
    <div class="flex">
      <p class="error">Please update <%= errors[key].param %>:&nbsp;</p>
      <p><%= errors[key].msg %></p>
    </div>
    <% }); %>
  </div>
  <% } %>
  <form action="/signup" method="POST" class="form-center">
    <div class="form-grid">
      <div class="form-fields">
        <label for="email">Email:</label>
        <% if (email) { %>
        <input
          name="email"
          autocomplete="off"
          type="text"
          value="<%= email %>"
          required
        />
        <% } else{ %>
        <input name="email" autocomplete="off" type="text" required />
        <% } %>
      </div>
      <div class="form-fields">
        <label for="password">Password:</label>
        <% if (password) { %>
        <input
          name="password"
          autocomplete="off"
          type="password"
          value="<%= password %>"
          required
        />
        <% } else{ %>
        <input name="password" autocomplete="off" type="password" required />
        <% } %>
      </div>
      <div class="form-fields">
        <label for="firstname">First Name:</label>
        <% if (firstname) { %>
        <input
          name="firstname"
          autocomplete="off"
          type="text"
          value="<%= firstname %>"
        />
        <% } else{ %>
        <input name="firstname" autocomplete="off" type="text" />
        <% } %>
      </div>
      <div class="form-fields">
        <label for="lastname">Last Name:</label>
        <% if (lastname) { %>
        <input
          name="lastname"
          autocomplete="off"
          type="text"
          value="<%= lastname %>"
        />
        <% } else{ %>
        <input name="lastname" autocomplete="off" type="text" />
        <% } %>
      </div>
      <div class="form-fields">
        <label for="state">State:</label>
        <% if (state) { %>
        <input
          name="state"
          autocomplete="off"
          type="text"
          value="<%= state %>"
        />
        <% } else{ %>
        <input name="state" autocomplete="off" type="text" />
        <% } %>
      </div>
      <div class="form-fields">
        <label for="country">Country:</label>
        <% if (country) { %>
        <input
          name="country"
          autocomplete="off"
          type="text"
          value="<%= country %>"
        />
        <% } else{ %>
        <input name="country" autocomplete="off" type="text" />
        <% } %>
      </div>
    </div>
    <button type="submit" class="submitBtn">Submit</button>
  </form>
</main>
<%- include('footer') -%>
